@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.app {
    min-height: 100vh;
    background-image:linear-gradient(#0b004e, #1d152f, #002834) 
}
a{
    text-decoration: none;
    color: inherit;
}